@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor0: #28093D;
    --cor1: #9A5AC8;
    --cor2: #7A1CBD;
    --cor3: #2F1C3D;
    --cor4: #59158A;
}

body {
    background-color: black
}

header h1 {
    font-family: 'Bruno Ace SC', cursive;
    font-size: 2em;
    padding: 20px;
    color: white;
    text-align: center;
}

nav {
    margin-left: 10px;
    margin-top: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    background-color: #7A1CBD;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #28093D;
    color: #59158A;
    transition-duration: .5s;
}

main {
    background-color:black;
}

.div-border {
    padding-top: 20px;
    border-bottom: 2px solid #7A1CBD;
}

main section {
    background-color: black;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

section h1, h2 {
    color: white;
    font-family: 'Bruno Ace SC', cursive;
    padding: 0;
    font-size: 2em;
}

.home-div {
    margin-top: 20px;
    border-bottom: 2px solid #7A1CBD;
}

section img {
    margin: auto;
    border-radius: 50%;
    max-width: 250px;
    margin-top: 20px;
}

p {
    font-family: 'Bruno Ace SC', cursive;
    color: white;
    margin-top: 30px;
    font-size: 2em;
}


.container {
    padding-top: 40px;
}

.contact-main {
    padding: 100px;
}

footer img {
    width: 50px;
    padding-top: 5px;
}

footer img:hover {
    transform: scale(1.1);
}

.map {
    width: 400px;
    margin: auto;
    display: block;
    padding-top: 50px;
}





